.hotel {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* items will stretch to take full width */
    border: 1px solid #eee;  /* Lighter border color */
    border-radius: 10px;
    padding: 0; /* Remove padding */
    width: 100%; /* Take full width */
    background-color: #fafafa; /* Light background color */
    box-sizing: border-box; /* Border and padding included in the element's total width and height */
}

.hotelName {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; /* Add padding */
    color: #444;  /* Darker font color */
    border-bottom: 1px solid #eee; /* Add border */
    text-align: center; /* Center the text */
}

.room {
    display: flex;
    justify-content: space-around; /* Space items evenly, including outer items */
    align-items: center; /* Align items vertically */
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #eee;  /* Lighter border color */
    box-sizing: border-box; /* Border and padding included in the element's total width and height */
}

.room:last-child {
    border-bottom: 1px solid #eee;  /* Lighter border color */
}
